body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    background-color: aquamarine;

    width: 50%;
}


.issue-form {
    padding: 5px;
    margin: 2px;
}

.issue {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 2px;
}